[submodule "snippets/latex-mode"]
	path = snippets/latex-mode
	url = https://github.com/jackkamm/yasnippets-latex
[submodule "lisp/undo-propose-el"]
	path = lisp/undo-propose-el
	url = git@github.com:jackkamm/undo-propose-el.git
[submodule "lisp/ipython-shell-send-el"]
	path = lisp/ipython-shell-send-el
	url = git@github.com:jackkamm/ipython-shell-send-el.git
[submodule "lisp/ob-session-async"]
	path = lisp/ob-session-async
	url = git@github.com:jackkamm/ob-session-async.git
[submodule "lisp/org-gcal.el"]
	path = lisp/org-gcal.el
	url = git@github.com:jackkamm/org-gcal.el
[submodule "lisp/org-mode"]
	path = lisp/org-mode
	url = git@code.orgmode.org:jackkamm/org-mode.git
[submodule "lisp/nextflow-mode"]
	path = lisp/nextflow-mode
	url = git@github.com:jackkamm/nextflow-mode.git
